.user-register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  h2{
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 300px;

    .form-group{
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      label {
        margin-bottom: 5px;
        font-weight: bold;
      }

      input {
        margin-bottom: 15px;
        padding: 10px;
        font-size: 16px;
      }

      .error {
        color: red;
        margin-top: 10px;
      }
    }

    .user-register-button{
      padding: 10px;
      font-size: 16px;
      background-color: #007bff;
      color: white;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }

  }
}